
<p>貨幣一覧<br>
1<%= @AUD %>= <%=@AUDopen %>円<br>
1<%= @NZD %>= <%=@NZDopen %>円<br>
1<%= @ZAR %>= <%=@ZARopen %>円<br>
1<%= @CHF %>= <%=@CHFopen %>円<br>
1<%= @EUR %>= <%=@EURopen %>円<br>
1<%= @USD %>= <%=@USDopen %>円<br>
1<%= @GBP %>= <%=@GBPopen %>円<br>
</p>
